@import url('https://fonts.googleapis.com/css2?family=Borel&family=Cherry+Bomb+One&family=Open+Sans:wght@400;600&family=Poppins&family=Roboto+Mono:wght@300;400;600&family=Roboto:wght@100&family=Rubik+Bubbles&family=Shadows+Into+Light&family=Yellowtail&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(0deg, black 100%, #990147 10%); */
  background: linear-gradient(0deg, #41001e 1%, black 100%);
  animation: waveAnimation 5s infinite;

  overflow-y: scroll;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html {
  --cursor-color: white;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 15em;
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.6em 2em;
  margin: 1em 0 0 0;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: solid 2px #990147;
  transition: border-color 0.25s;
  letter-spacing: 0.2em;
}

button:hover {
  background-color: #990147;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* --------------- */
/* GENERAL */
/* --------------- */

.page-button {
  position: absolute; 
  top: 2em; 
  left: 2em;
}

.page-button:hover {
  color: #990147;
}

/* --------------- */
/* HOME PAGE */
/* --------------- */
.homepage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-headliner {
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}

.headliner-container{
  margin: 5em 0 5em 0;
  padding: 5em 0 2em 0;
}

.headliner-content {
  text-align: center;
  letter-spacing: 0.8em;
  mix-blend-mode: normal;
  font-weight: bold;
  font-size: 4rem; 
  background-image: url('https://cdn.sanity.io/images/fuvbjjlp/production/99ff1eae28f157a0cc3caad9b5189fe179763697-1920x697.jpg');
  -webkit-background-clip: text;
  color: transparent;
  animation: waveAnimation 10s infinite alternate; 
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.subheadliner-content {
  padding: 3em 0;
  letter-spacing: 0.9em;
  color:  #990147;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
    margin-top: 20em;
    margin-bottom: 20em;
}

.scroll-container {
  position: relative;
  display: inline-block; 
}

.arrow-down {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 2; 
}

.rotate-scroll {
  display: block;
  width: 7em;
  animation: logo-spin 15s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.headliner {
  position: relative;
  
}

/* --------------- */
/* INTRODUCTION PAGE */
/* --------------- */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.headerliner-name {
  color: whitesmoke;
  letter-spacing: 0.5em;
}
.subheadliner {
  letter-spacing: 0.4em;
}

.introduction-container {
  width: 90%; 
  text-align: center; 
}
/* 
.headliner {
  display: flex;
  flex-direction: column;
  justify-content: left ;
  align-items: left !important;
} */

.body-bottom {
  padding-top: 1em;
}

.body-bottom-button {
  padding: 1em;
  margin: 1em;
}

/* --------------- */
/* CARD CONTAINER */
/* --------------- */

.card-container {
  border-bottom: solid 0.5px #990147;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3em;
  margin: 2em;
}

.card-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color:  #990147;
}

.list-main {
  font-weight: 600;
}


.upload-button {
  width: 11em;
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 0.4em 2em;
  margin: 1em 0 0 0;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  border: solid 2px #990147;
  transition: border-color 0.25s;
  letter-spacing: 0.2em;
}

.upload-button:hover {
  background-color: #990147;
}